body {
  background-image: url(../images/background.jpg);
}

.box {
  width: 1200px;
  border: 1px solid white;
  margin: 74px auto;
  background: white;
}

.kingDiv {
  vertical-align: top;
}

/* Initial Header */

#searchBar {
  vertical-align: middle;
}

.search {
  padding: 16px;
  box-sizing: border-box;
}

.initialHeader2 i {
  color: white;
  font-size: 23px;
  border: 2px solid white;
  padding: 4px;
}

.boxHeader {
  background: #232222;
}

.initialHeader {
  padding: 25px;
  color: white;
  width: 60%;
}

.initialHeader span {
  margin-left: 80px;
  cursor: pointer;
  font-size: 18px;
}

.initialHeader span:hover {
  color: #9c8d8d;
}

.boxHeader div {
  display: inline-block;
}

.initialHeader2 input {
  width: 188px;
  height: 30px;
  background: #f1ecec;
}

.initialHeader2 {
  margin-left: 165px;
}

/* Initial Header Ends */

/* Header */

.inBlock {
  display: inline-block;
  margin-left: 80px;
  margin-top: 20px;
  color: #afa7a7;
  cursor: pointer;
}

.firstDiv {
  margin-left: 130px;
  vertical-align: top;
}

.header {
  width: 1200px;
  height: 63px;
  background: #fbf4f4;
}

.inBlock:hover {
  color: #584343;
}

/* Header End */

/* Main Body */

.mainBody {
  display: flex;
}

.mainBodyCol1 {
  flex: 1;
  background: #fbf4f4;
  color: #afa7a7;
}

.mainBodyCol2 {
  flex: 4;
}

.mainBodyCol1 input {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.mainBodyCol1 label {
  margin-left: 10px;
  font-size: 20px;
}

.label {
  text-align: center;
  font-size: 31px;
  margin-top: 10px;
}

/* Main Body End */

/* For Loop */

.image {
  width: 320px;
  height: 205px;
  object-fit: cover; /* Fit image in height:205px */
  margin-left: 50px;
  margin-top: 5px;
  background-image: url("../images/loader2.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.urldiv {
  visibility: hidden;
  width: 320px;
  margin-left: 50px;
  display: none;
}

/* For Loop End */

/* JS File */

#uniqueHeader {
  font-size: 25px;
  color: #40403e;
  text-align: center;
  background: white;
}

.column image {
  vertical-align: top;
}

.titlediv {
  margin-bottom: 30px;
  font-size: 20px;
  width: 320px;
  margin-left: 50px;
  margin-top: 5px;
}

.inlineBlock {
  display: inline-block;
}

.authordiv {
  font-weight: bold;
  font-size: 27px;
  width: 320px;
  margin-left: 50px;
  margin-top: 5px;
  overflow-wrap: break-word;
}

.sourceNamediv {
  color: #c5b8b8;
  width: 30px;
  margin-left: 50px;
  margin-top: 5px;
}

.container {
  margin-top: 35px;
  margin-left: 30px;
}

/* JS File End */

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  background: #232222;
  margin-top: 410px;
}

.footerCol1,
.footerCol2 {
  flex-grow: 1;
  flex-basis: 0;
}

.footerCol1 i {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  background: #40403e;
  padding: 10px;
  text-align: center;
}

.footerCol1 {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.span1 {
  color: white;
  font-size: 20px;
  margin-left: 18px;
  vertical-align: top;
}

.span2 {
  color: white;
  margin-left: 16px;
  font-size: 20px;
  margin-top: 10px;
}

.phoneNo span {
  color: white;
  margin-left: 16px;
  font-weight: bold;
}

.mail span {
  color: #667ae4;
  margin-left: 18px;
  font-weight: bold;
  font-size: 20px;
}

.mail {
  margin-top: 20px;
}

.phoneNo {
  margin-top: 20px;
}

.footerCol2 {
  margin-right: 100px;
}

.footerCol2 h2 {
  margin-top: 48px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.footerCol2 p {
  color: #a3a7a3;
  width: 400px;
}

.footerCol2 i {
  width: 20px;
  height: 20px;
  color: white;
  background: #40403e;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin-left: 7px;
}

.footerCol2 div {
  margin-top: 33px;
}

/* Footer End */

.alert {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  margin-top: 140px;
  cursor: progress;
}

/* For Loader */

/* .alert {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* Loader End */
